<!DOCTYPE html>
<html>
<head>
  <title>New app page</title>
</head>
<body>

<h1>Register a new application</h1>

<% if @errors.nil? %>
	<p>Please complete the different fields</p>
<% else %>
	<p>Application register failed for the next reasons :</p>
	<ul>
		<% @errors.each do |field, errs| %>
			<li><%= field %> <%= errs.join(' and ') %></li>
		<% end %>
	</ul>
<% end %>

<form action="/sauth/conf_newapp" method="post">

  <div class="field">
    <label for="name">Application name</label><br />
    <input id="name" name="name" size="30" type="text" value="<% if @name %><%= @name %><% end %>"/>
  </div>
  
  <div class="field">
    <label for="url">Application URL (http(s)://yourapp.xx)</label><br />
    <input id="url" name="url" size="30" type="text" value="<% if @url %><%= @url %><% end %>"/>
  </div>
  
   <div class="field">
    <label for="pubkey">Public key</label><br />
    <textarea name="pubkey" rows=20 cols=100 ><% if @pubkey %><%= @pubkey %><% end %></textarea>
  </div>
  
  <div class="actions">
    <input name="commit" type="submit" value="Register Application" />
  </div>
  
</form>

</body>
</html>

