<h1>Welcome <%= @user.login %> !</h1>

<%if @error %>
	<p><img src="/img/err.png" alt="puce" align="absmiddle" style="padding-right:10px;padding-top:1px;" /><%=@error%></p>
<%end%>



<div class="listappown">
<% if @apps_own && !@apps_own.empty? %>
	<p>List of applications you own:</p>
	<ul>
		<% @apps_own.each do |ao| %>
			<li>
				<img src="/img/app.png" alt="puce" align="absmiddle" style="padding-right:10px;padding-top:1px;" />
				<%=ao.name%> (<%=ao.url%>)				
				<a href="/sauth/apps/<%=ao.name%>/delete" onclick="return(confirm('Do you really want to delete this application ?'));">
					<img src="/img/delete.png" alt="delete" class="delete_img" />
				</a>
			</li>
		<% end %>
	</ul>
<%else%>
	<p>You have created no application.</p>
<%end%>
</div>


<div class="listappuse">
<% if @apps_linked && !@apps_linked.empty? %>
	<p>List of applications using your account:</p>
	<ul>
		<% @apps_linked.each do |al| %>
			<li>
				<img src="/img/link.png" alt="puce" align="absmiddle" style="padding-right:10px;padding-top:1px;" />
				<%=al.name%> (<%=al.url%>)
				<a href="/sauth/uses/<%=al.name%>/delete" onclick="return(confirm('Do you really want to delete this use ?'));">
					<img src="/img/delete.png" alt="delete" class="delete_img" />
				</a>
			</li>
		<% end %>
	</ul>
<%else%>
	<p>No application uses your account.</p>
<%end%>
</div>



<% if @users && !@users.empty? %>
	<div class="listusers">
		<p>List of users:</p>
		<ul>
			<% @users.each do |u| %>
				<li>
					<img src="/img/user.png" alt="puce" align="absmiddle" style="padding-right:10px;padding-top:1px;" />
					<%=u.login%>
					<a href="/sauth/users/<%=u.login%>/delete" onclick="return(confirm('Do you really want to delete this account ?'));">
						<img src="/img/delete.png" alt="delete" class="delete_img" />
					</a>
				</li>
			<% end %>
		</ul>
	</div>
<%end%>



<a href="/sauth/apps/new">Register a new application</a><br/>
<% if @user && !@user.admin %>
	<a href="/sauth/users/<%=@user.login%>/delete" onclick="return(confirm('Do you really want to delete this account ?'));">Delete your account</a><br/>
<% end %>
<a href="/sauth/sessions/delete">Disconnect</a>

