<h1>New user</h1>

	<% if !@user %>
		<p>Please complete the different fields to register</p>
	<% else %>
		<% @errs = @user.get_errs %>
		<% if @errs %>
			<%
			if @pass != @conf
				@errs[:password_confirmation] = []
				@errs[:password_confirmation].push("is not the same as password")
			end
			
			if !@errs[:password] && !@errs[:password_confirmation]
				@password = @pass
				@password_confirmation = @conf
			end
	
			if !@errs[:login]
				@login = @log
			end
			%>
			
			<p>Register failed for the next reasons :</p>
			<ul>
				<% @errs.each do |field, err| %>
					<li>
						<img src="/img/err.png" alt="puce" align="absmiddle" style="padding-right:10px;padding-top:1px;" />
						<%= field %> <%= err.join(' and ') %>
					</li>
				<% end %>
			</ul>
			
		<% end %>
	<% end %>

<form action="/sauth/users" method="post">
  <div class="field">
    <label for="login">Login</label><br />

    <input id="login" name="login" size="20" type="text" value="<% if @login %><%= @login %><% end %>"/>
  </div>
  
  <div class="field">
    <label for="password">Password</label><br />
    <input id="password" name="password" size="30" type="password" value="<% if @password %><%= @password %><% end %>"/>
  </div>
  
  <div class="field">
    <label for="password_confirmation">Password confirmation</label><br />
    <input id="password_confirmation" name="password_confirmation" size="30" type="password" value="<% if @password_confirmation %><%= @password_confirmation %><% end %>"/>
  </div>
   
  <div class="actions">
    <input name="commit" type="submit" value="Create user account"/>
  </div>
</form>
