<!DOCTYPE html>
<html>
<head>
  <title>Login OK</title>
</head>
<body>

<h1>Welcome <%= @login %> !</h1>

<%if !@error.nil?%>
	<p><%=@error%></p>
<%end%>

<% u = User.find_by_login(@login)
	apps = Application.where(:user_id => u.id)
	if !apps.empty?
%>
	<div class="listappown">
		<p>List of applications you own:</p>
		<ul>
			<% apps.each do |a| %>
				<li><%=a.name%> (<%=a.url%>) - <a href="/sauth/deleteapp?app=<%=a.id%>">delete</a> </li>
			<% end %>
		</ul>
	</div>
	
<%else%>
	<p>You have created no application.</p>
<%end%>

<% uses = Use.where(:user_id => u.id)
	if !uses.empty?
%>
	<div class="listappuse">
		<p>List of applications using your account:</p>
		<ul>
			<% uses.each do |use| %>
			<% app = Application.find_by_id(use.application_id) %>
				<li><%=app.name%> (<%=app.url%>)</li>
			<% end %>
		</ul>
	</div>
	
<%else%>
	<p>No application uses your account.</p>
<%end%>

<a href="/sauth/newapp">Register a new application</a><br/>
<a href="/sauth/delete">Delete your account</a><br/>
<a href="/sauth/sessions/disconnect">Disconnect</a>

</body>
</html>

